<!DOCTYPE html>
<html>
    <head>
        <title>PythonTr Planet</title>
        <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
        <![endif]-->
        <link rel="stylesheet/less" type="text/css" href="/static/less/gezegen.less">
        <script src="/static/js/less.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="header">
            <div class="container">
                <div class="span-24 last">
                    <h1>Pythontr Planet</h1>
                    <p>kafadan silinir, buradan silinmez</p>
                </div>
            </div>
        </div>
        <div class="container prepend-top">
            <div class="span-17">
                {% block content %}{% endblock %}
            </div>
            <div class="span-7 last" id="sidebar">
                <h3>Beslenme Çantası</h3>
                <blockquote>....Programlama dili öğrenmenin “bence” en kolay yolu, konuşma dilinde de olduğu gibi, sürekli okumaktır; kod okumak. Anlamasak bile okumak, merak ettiğimiz yerleri bilen birilerine sormak vesaire. Aynı zamanda, programlama dili öğrenmek için, tıpki konuşma dilinde olduğu gibi bir çevreye ihtiyacınız vardır. Nasıl ki, İngilizce’yi en iyi, İngilizce konuşan bir toplumda öğrenebiliyorsak; programlama dili için de aynı şey geçerli. Bu dili öğrenmenin en güzel yeri de burası olabilir...</blockquote>
                {% block sidebar %}{% endblock %}
            </div>
        </div>

    </body>
</html>
