body {
    background-color: #080810;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
}

#header {
    padding: 20px 0 5px 0;
    background-color: #101016;
    border-bottom: 1px solid #333;
    height: 38px;

    h1, p {
        display: inline;
    }

    p {
        margin-left: 10px;
        font-style: italic;
    }
}

#content {
    font-size: 14px;

    h3 {
        margin: 0;

        a {
            padding: 0 0 5px 0;
            text-decoration: none;
            display: block;
            color: #ddd;

            &:hover {
                color: #fff;
            }
        }
    }

    span {
        &.author {
            float: right;
        }
    }

    .entry {
        margin: 0 10px 30px 0;
        padding: 5px 10px;
        border: 1px solid #555;
    }

    .meta {
        border-bottom: 1px solid #555;
    }
}

#sidebar {
    blockquote {
        margin: 0 0 20px 0;
        text-align: justify;
    }

    h4 {
        margin: 5px 0;
    }

    img {
        margin-right: 20px;
        vertical-align: middle;
    }

    ul {
        &.subscriptions {
            margin: 20px 0;
            padding: 0;
            list-style-type: none;
            border-top: 1px solid #222;

            a {
                display: block;
                text-decoration: none;
            }

            span {
                font-size: 14px;
                line-height: 40px;
            }

            li {
                border-bottom: 1px solid #222;
            }
        }
    }
}