@background:#051D2C;
@body:darken(@entrybg, 60%);
@entrybg:#d1cdc7;
@titles:lighten(@entrybg, 30%);
@titlebg:#293d5a;

body {
    background-color: darken(@background, 6%);
    color: @body;
}

h1 {
   color: @titles;
   margin-bottom: 0.5em;
}

h2, h3, h4, h5, h6 {
    color: @titles;
    background: @titlebg;
    padding:5px;
    margin-bottom: 0.5em;
}

a {
  color:lighten(@titles, 20%);
}

#header {
    padding: 20px 0 0 0;
    height: 44px;

    h1, p {
        display: inline;
    }

    p {
        margin-left: 10px;
        font-style: italic;
    }
}

#content {
    font-size: 14px;
    pre.prettyprint, code.prettyprint {
        padding: 5px;
        border: 1px solid #222;
        background-color: #000;
    }

    h3 {
        margin: 10px 0 5px 0;
        a {
            padding: 0 0 5px 0;
            text-decoration: none;
            display: block;
            color: inherit;

            &:hover {
                color: #fff;
            }
        }
    }

    span {
        &.author {
            float: right;
        }
    }

    .entry {
        margin: 0 10px 30px 0;
        padding: 5px 0;
	color:inherit;
	background: @entrybg;
	border: 5px solid darken(@entrybg, 20%);
	border-radius:10px;
	.content {
	    padding:10px;
	}
    }

    .meta {
    	padding:0 10px;
        border-bottom: 1px solid #555;
    }
}

#sidebar {
    .widget {
    	margin-bottom:20px;
    }
    blockquote {
        margin: 0 0 20px 0;
        text-align: justify;
	color:@titles    }

    h4 {
        margin: 5px 0;
    }

    img {
        margin-right: 20px;
        vertical-align: middle;

        &.rss-button {
            margin: 0;
            padding-top: 13px;
            float: right;
        }
    }

    ul {
        &.subscriptions {
            margin: 0;
            padding: 0;
            list-style-type: none;
            a {
                text-decoration: none;
            }

            span {
                font-size: 14px;
                line-height: 40px;
            }

        }
    }
}