{% extends "../layout.html" %}

{% block content %}
<a href="https://github.com/alageek/gezegen">
  <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
</a>
{% for feed in feeds %}
<div class="entry">
  <h3>
    <a href="{{ feed.url }}">
      {{ feed.title }}
    </a>
  </h3>
  <div class="meta">
    <span class="datetime">{{ feed.date|date:"d F Y" }}</span>
    <span class="author">{{ feed.author }}</span>
  </div>
  <div class="content prepend-top">
    {{ feed.content }}
  </div>
</div>
{% endfor %}
<br />
{% endblock %}


{% block sidebar %}
<div class="widget">
  <h3 class="title">Yazarlar</h3>
  <div class="content">
    <ul class="subscriptions">
      {% for subscription in subscriptions %}
      <li>
	<a href="{{ subscription.feed_url }}">
	  <img class="rss-button" src="/static/img/rss.png" />
	</a>
	
	<a href="{{ subscription.url }}">
	  <img src="{{ subscription.avatar_url }}" width="30" height="30" title="{{ subscription.name }}" />
	  <span>{{ subscription.name }}</span>
	</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
  {% endblock %}
