{% extends "../layout.html" %}

{% block content %}
{% for feed in feeds %}
<div class="entry append-bottom">
    <h3>
        <a href="{{ feed.url }}">
            {{ feed.title }}
        </a>
    </h3>
    <div class="meta">
        <span class="datetime">{{ feed.date|date:"d F Y" }}</span>
        <span class="author">{{ feed.author }}</span>
    </div>
</div>
{% endfor %}
{% endblock %}


{% block sidebar %}
<h3>Yazarlar</h3>
<ul class="subscriptions">
    {% for subscription in subscriptions %}
    <li>
        <a href="{{ subscription.url }}">
            <img src="{{ subscription.avatar_url }}" width="30" height="30" title="{{ subscription.name }}" />
            <span>{{ subscription.name }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
